<section
  fxLayout="column"
  fxLayoutAlign="center center"
  class="current-training"
>
  <mat-progress-spinner mode="determinate" [value]="progress">
  </mat-progress-spinner>
  <h2>{{ progress }}%</h2>
  <p>Keep on gong, You can do it.</p>
  <button mat-raised-button color="warn" (click)="onStop()">Stop</button>
  <!-- <audio id="player" *ngIf="progress != 100 && !0"> -->

  <img
    src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/7471e64bf36dd74cb4c52b2dec40690b-1605191302/5%20workout%20gif/create-workout-exercise-gif-animation-in-photoshop.gif"
    alt="exerciseing gif"
    width="350px"
    height="350px"
    style="margin-top: 5px"
  />
</section>
