<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email"
        required
      />
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
        minlength="6"
      />
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </mat-card>
</form>
