<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
  #f="ngForm"
  (submit)="submitForm(f)"
>
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="email"
        placeholder="Enter email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Not a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        placeholder="Enter password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwdLen="ngModel"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Submit
    </button>
  </mat-card>
</form>
