<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
  #f="ngForm"
  (submit)="submitForm(f)"
>
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>SignUp Form</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input
        matInput
        type="email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Not a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      hintLabel="Should be atleast 6 charactor long."
    >
      <mat-label>Enter password</mat-label>
      <input
        matInput
        type="password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwdLen="ngModel"
      />
      <mat-hint align="end">{{ pwdLen?.value?.length }}/6</mat-hint>
      <mat-error>Has to be atleast 6 charactors.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="dob"
        required
        #dob="ngModel"
        placeholder="Enter your date of birth."
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dob.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required
      >Agree terms and conditions.</mat-checkbox
    >
    <button
      *ngIf="!(isLoading$ | async)"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Submit
    </button>
    <mat-spinner
      *ngIf="isLoading$ | async"
      style="position: absolute; top: 130px; right: 130px"
    ></mat-spinner>
  </mat-card>
</form>
