<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <mat-form-field>
          <mat-select
            placeholder="Choose Exercise"
            ngModel
            name="exercise"
            required
          >
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          *ngIf="!(isLoading$ | async)"
          type="submit"
          mat-button
          [disabled]="f.invalid"
        >
          Start
        </button>
      </mat-card-actions>
      <mat-spinner
        *ngIf="isLoading$ | async"
        style="position: absolute; top: 10px; right: 150px"
      ></mat-spinner>
      <audio id="player">
        <source
          src="https://assets.mixkit.co/music/preview/mixkit-minimal-techno-01-162.mp3"
          type="audio/mp3"
        />

        Your browser does not support the audio element.
      </audio>
      <div
        style="
          display: flex;
          justify-content: space-between;
          border: 1px solid orange;
          border-radius: 10px;
          padding: 10px;
        "
      >
        <span
          class="material-icons"
          role="button"
          style="cursor: pointer"
          onclick="document.getElementById('player').volume -= 0.1"
        >
          volume_down
        </span>
        <span
          *ngIf="!playing"
          class="material-icons"
          role="button"
          style="cursor: pointer"
          onclick="document.getElementById('player').play();"
          (click)="togglePlayBtn()"
        >
          play_circle
        </span>
        <span
          *ngIf="playing"
          class="material-icons"
          role="button"
          style="cursor: pointer"
          (click)="togglePlayBtn()"
          onclick="document.getElementById('player').pause();"
        >
          pause
        </span>

        <span
          class="material-icons"
          role="button"
          style="cursor: pointer"
          onclick="document.getElementById('player').volume += 0.1"
        >
          volume_up
        </span>
      </div>
    </mat-card>
  </form>
</section>
