<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="95%" fxFlex="440px">
    <mat-card-title>Time to start a workout!</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>Select type of training</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Start</button>
    </mat-card-actions>
  </mat-card>
</section>
